{% extends "layout.html" %}
{% block content %}

<body>
<div class="container">
<div class="jumbotron">
  <div class="jumbotron jumbotron-fluid">
	<div class="row">
		<div class="col col-md-12">
			<div id="content">
			<h2 class="display-4"><strong>Contact</strong></h2>
			<hr>
			<p class="lead">
				<ul>
				<li>Phone: +491774736788</li>
				<li><a href="mailto:maria.recska@gmail.com">Email Me</a></li>
				<li><a href="https://api.whatsapp.com/send?phone=00491774736788">Whatsapp</a> </li>
			</ul>
			</p>
  			</div>
		</div>
	</div>
	</div>
			
</div>
</div>
</body>

{% endblock content %}