{% extends "layout.html" %}
{% block content %}
<body>
	<div class="container">
	<div class="row">
		<div class="col col-md-12">
			<div id="content">
			<h1> 
				<strong>Massage</strong>
			</h1>
			<hr>
			<p>
			I combine elements of acupressure, deep tissue and Swedish massage.<br>
			I also use a Tibetan singing bowl. <br>
			The vibrating sounds will help you to relax and rejuvenate. <br>
			<img src="https://lh3.googleusercontent.com/dtn2hm7pAalIC1AOgBWR1ie0umYh81TR4LUC2gvgDsnkQ45guwtG7EB8GzlhMmopVauMXV6Hz9VcwtERCAJbVtdRfQ5jKcOzU8bh3dO6Wlr9Bh7PWuvNSWDOFlDRljYExNGnZCFL-m8YAU_fzTGKLzN8Vr2znqvRV-p8LvUycJZCWVgjc6gaIwJpl_yoj7bzBB0Nf6vqxOCw72Q08awIA7mHQewJIcans8qgZ1D3L3G4da6L-ffWWGNXQ63zLM3NirHOclzGrcYWTlbqH9mhYRtbHyYl9e1SnCZxqWuIWMd7XAnnO_2gkuQ62CqZ6j7otuMxLVk2yJ5UqIATQTm3wysPkPvkQzZa25cMrT2WAiWOIXS9oSuy04MbxqYOBsfcg2GB4l8f9lyC06Tx1hgwzEDmgIMdAKk_EcT6XTkX3fBx1Osh2d18WLtvsk-e3mvoiPCyw4NADJIhwrhYiTI4dorta2Ryp1WFFlieJEa-ZTXf0m7Z4ssclE6bOVH1BSvZb8JS0BduAkmvWS0KRqU9tUtQKUgNL6_63PdHB6MRth9E26HQQoazHGHPscRPZFzNC2gAI4NE_JQ2pJnLhDL0qezslRN5i_Ocvjs6A6rPWkqhxKYZLF8YM9qY7bC1p0xQpn2oY8Pki8kcr2s4bkZqy78UzfYmUpI=w800-h533-no" class=img-fluid>
			
			</p>
			</div>
			</div>
			
			</div>
		</div>				
</body>
{% endblock content %}