{% extends "layout.html" %}
{% block content %}
<body>
	<div class="container">
	<div class="row">
		<div id="content">
			<h1> 
			<strong>Pricelist</strong>
			</h1>
			<hr>
		<table class="table">
  <thead class="thead-light">
    <tr>
    <th scope="col"></th>
      <th scope="col"><strong>Private yoga classes</strong></th>
      <th scope="col">Price</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>70 minutes practice <br>(60 min asanas + 10 min relaxation)</td>
      <td><strong>30 €</strong></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>90 minutes practice <br>(80 min asanas + 10 min relaxation)</td>
      <td><strong>40 €</strong></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
   	<th scope="col"></th>
      <th scope="col"><strong>Massage</strong></th>
      <th scope="col"><strong>Prices</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>30 minutes combination massage</td>
      <td><strong>30 €</strong></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>60 minutes combination massage</td>
      <td><strong>50 €</strong></td>
    </tr>
  </tbody>
</table>
			</div>
			</div>
		</div>				
</body>
{% endblock content%}