{% extends "layout.html" %}
{% block content %}
<body>
	<div class="container">
	<div class="row">
		<div class="col col-md-12">
			<div id="content">
			<h1> 
				<strong>Yoga</strong>
			</h1>
			<hr>
			<p>
			<strong>Private and corporate classes: </strong> <br>
			70 or minutes classes in 3 different yoga styles, ending with a 10 minutes sound healing guided meditation:<br>

			<ul>
				<li>Vinyasa Flow</li>
				<li>Classical Hatha</li>
				<li>Restorative (Yin) Yoga</li>

			</ul>
			<img src="https://lh3.googleusercontent.com/pVKmDDK4XkNXmegJ9zll3GwemsMvgat-dEVNhV4mtcPdgDK3VM6lKFfxLuiptF0AHNODkM0cRGl7lnJqABkE_pm0Y786QLkpgbNOFwAgA8ybOcY2TpCFDjVZl_Z8VslhqdyZ3294mvuewHjdjB337pgRyTdzeuuZ4MIG3W_6KgaqT_G_sPDCXWJtkEfckpFbank8O1YU-0W_QvL-d1xxEaw5NVRem7kgBbi1QdHrdK05BVLaPluMjJMH171oWcBlYTmKOW55iOMlZU7u56d1dX4Auag2RjTyyoYKcbPDKlKSUaVPlQVpo3Uguuv3j5DaDsc2sqa3zK5A29hZoM_D-Q3QrD7JqO9ax9dLofzq6VK0klMnizX0Twbm7i4fW5YY6-lXEjAMnL2L23DcOsZO1hj-3ws_YTHrpwaINqI_RJX2QaODWFSD-zAL4IoWeVdL4vP_lE1AfnTzIW8kuI8GGhGZY3a0nTXR-s7l2yrsD74s6X3x2Et20rvbSMgwZqyp-9fwR5ehkMICekU_V6y_DRkeXTMBeei32zerTyQ1LF7t-G9q-mTI91opqzWF4UinDPL8_9AyAam6wsp3KN8QrtygOjiQ7nRH_jhq-wdMfBhRPZQn2YxO9AZ1dJzOgXIWnhzCSCi8AEOPEeJpn5Xqml2jR-Ce7TQ=w1018-h678-no" class=img-fluid>
			
			</p>
			</div>
			</div>
			
			</div>
		</div>
</body>			
{% endblock content %}